#projects {
    background: #2B2B2B;
    padding-top: 56px;
    padding-bottom: 56px;
    color: #eeeeee;
}

#projects .card-list {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding: 2rem;
    overflow-x: scroll;
}

.card-list:before {
    content: "";
    position: absolute;
    left: 10%;
    margin-top: -1rem;
    height: 27rem; /* card height + padding */
    width: 2rem;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(43,43,43,1), rgba(43,43,43,0));
}

.card-list:after {
    content: "";
    position: absolute;
    right: 10%;
    margin-top: -1rem;
    height: 27rem; /* card height + padding */
    width: 2rem;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(43,43,43,1), rgba(43,43,43,0));
}

.barrier {
    min-width: 1.5rem;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d)
}

#projects .card {
    display: grid;
    grid-template-rows: minmax(100px, 2fr) 5fr minmax(100px, 1fr);
    position: relative;
    height: 23rem;
    width: 20rem;
    min-width: 14rem;
    padding: 1rem 2rem;
    border-radius: 16px;
    background: #17141c;
    box-shadow: -0.5rem 0 1rem black;
    overflow: hidden;

    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(25px);
}

.card:not(:first-child) {
    margin-left: -25px;
}

#projects .link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#projects .link a{
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 1em;     
    margin: -1em; 
}

#projects .link i {
    display: none;
    font-size: 24px;
    color:gray;
    padding: 10px 10px;
    border: 3px solid gray;
    border-radius: 50%;
    opacity: 0.5;
}

#projects .card:hover > .link i {
    display: inline-block;
}

#projects .link a:hover > i{
    color: white;
    border-color: white;
}

#projects .card-header {
    font-size: 24px;
}

#projects .card-detail {
    overflow: hidden;
};

#projects .card {
    margin: 1rem 0 2rem;
    padding: .5rem 0 .5rem;
}

#projects .card-labels {
    align-self: end;
}

.card-labels p {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    color: #7a7a8c;
    text-transform: uppercase;
    border: 3px solid #28242f;
    border-radius: 2rem;
    background: black;
    padding: .2rem .85rem .25rem;
    position: relative;
    display: inline-flex;
    margin: 2px;
    cursor: pointer;
}

.card-labels p:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    color: white;
    border-color: white;
}