#footer {
    background: #2b2b2b;
}

#footer .attribution {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

#footer .attribution p {
    margin: 0;
    color: lightgray;
}

#footer .attribution span {
    padding: 0px 10px;
    color: gray;
}
